/*------------- 
    fonts 
--------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* common tags */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* banner start */
.banner_full{
    background-color: blue;     
    display:flex ;
    
    justify-content: center;
    padding: 50px 0 50px 0;
}
.container{
    width: 85%;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    
}
.left_column{
    padding-left: 80px;
    padding-right: 80px;
}
.right_column{
    padding-left: 60px;
    overflow: hidden;
}

.left_column h1{
    color: #FFFFFF;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 27px;
}
.button{
    display: flex;
    align-items: center;
}
.button i{
    margin-left: 10px;
}

.button a{
    background-color: #E02C6D;
    Padding:10px 24px 10px 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.right_column img{
    width: 556.01px;
    height: 438px;
}

/* banner end */

/* players start  */
.player-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 27px;
    padding: 70px 60px 70px 70px;
    
}
.player{
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px 15px 15px 15px;
    
}
.player h3{
    text-align: left;
}


.player img{
    width: 325px;
    height: 270px;
    text-align: center;
    
}

/* players end  */

/* gallery start */
.gallery{
    text-align: center;
}
.photos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    grid-row-gap: 25px;
    margin-bottom: 70px;
    
}
.photo{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.photo img{
    width: 90%;
    
}


/* gallery end */

/* blog start  */
.blog_title{
    text-align: center;
}
.blog-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    padding: 20px 60px 70px 70px;
    text-align: center;
}
.blog{
    padding: 0 06px 0 06px;
    
}
.blog p{
    text-align: justify;
}
.blogs_content img{
    width: 320px;
    height: 180px;
}
.blogs_content h2{
    font-size: 21px;
    line-height: 23px;
}

/* blog end  */



/* footer start  */
    footer{
        text-align: center;
    }
    footer img{
        width: 490px;
        height: 130px;
    }
    footer i{
        padding: 10px;
        border-radius: 50%;
        background-color: lightgray;
        font-size: 20px;
    }
/* footer end  */

/* media query start  */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }    
    .banner, .players, .photos, .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .left_column{
        padding-left: 24px;
        padding-right: 1px;       
    }
    .left_column h1{
        color: #FFFFFF;
        font-size: 40px;
        line-height: 55px;
        margin-bottom: 27px;
        padding-left: 7px;
        padding-right: 7px;
    }
    .right_column img{
        width: 90%;
        margin-top: 40px;
    }
    .right_column{
        margin: 5px;
        padding-left: 10px;        
    }
      
    .players{        
        grid-column-gap: 1px;
        grid-row-gap: 27px;
        padding: 5px ;
        margin-bottom: 50px;
    }
    .player img{
        width: 98%;        
        text-align: center;        
    }
    .blogs{
        
        grid-column-gap: 1px;
        padding: 20px 5px 70px 5px;
        text-align: center;
    }
    .blogs_content img{
        width: 95%;
        
    }
    footer img{
        width: 80%;
    }      

}

@media only screen and (min-width:688px) and (max-width:991px){
 
    .container{
        width: 100%;
    }    
    .banner, .players, .photos, .blogs{
        grid-template-columns: repeat(2, 1fr);
    }
    .left_column{
        padding-left: 24px;
        padding-right: 1px;       
    }
    .left_column h1{
        color: #FFFFFF;
        font-size: 40px;
        line-height: 55px;
        margin-bottom: 27px;
        padding-left: 7px;
        padding-right: 7px;
    }
    .right_column img{
        width: 90%;
        margin-top: 40px;
    }
    .right_column{
        margin: 5px;
        padding-left: 10px;        
    }
      
    .players{        
        grid-column-gap: 1px;
        grid-row-gap: 27px;
        padding: 5px ;
        margin-bottom: 50px;
    }
    .player img{
        width: 98%;        
        text-align: center;        
    }
    .blogs{
        
        grid-column-gap: 1px;
        padding: 20px 5px 70px 5px;
        text-align: center;
    }
    .blogs_content img{
        width: 95%;
        
    }
    footer img{
        width: 80%;
    }      

}
    
